<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
</head>

<body>
    <div class="background"></div>

    <header class="d-flex justify-content-around w-100">
        <div class="logo">
            <a href="/"><img src="/public/images/logo.png" alt="" width="300"></a>
        </div>
        <div class="nav-bar d-flex align-items-center gap-5">
            <div class="home">
                <a href="">HOME</a>
            </div>
            <div class="studios">
                <a href="">STUDIOS</a>
            </div>
            <div class="services">
                <a href="">SERVICES</a>
            </div>
            <div class="about">
                <a href="">ABOUT US</a>
            </div>
            <div class="contact">
                <a href="">CONTACT</a>
            </div>
            <div class="facebook">
                <a href=""><img src="/public/images/facebook_icon.png" alt=""></a>
            </div>
            <div class="d-flex gap-2 lang-data" id="lang-data">
                <div class="lang">
                    KZ
                </div>
                <div class="lang-arrow">
                    <img src="/public/images/arrow.png" alt="">
                </div>
                <div class="lang-dropdown-content">
                    <ul>
                        <li>KZ</li>
                        <li class="divider"></li>
                        <li>RU</li>
                        <li class="divider"></li>
                        <li>ENG</li>
                    </ul>
                </div>
            </div>
        </div>
        

        <div class="lr-profile d-flex align-items-center">
            <a href="">Login</a>
            <span>/</span>
            <a href="">Register</a>
            <div class="profile ms-1 mt-2">
                <a href=""><span class="material-symbols-outlined">
                        person
                    </span></a>
            </div>
        </div>
    </header>
    <main></main>
    <footer></footer>


    <script>
        $('#lang-data').on('click', () => {
            $('.lang-dropdown-content').slideToggle(300)
        })
    </script>
</body>

</html>