<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
</head>

<body>
    <div class="background"></div>

    <header class="d-flex justify-content-around w-100">
        <div class="logo">
            <a href="/"><img src="/public/images/logo.png" alt="" width="300"></a>
        </div>
        <div class="nav-bar d-flex align-items-center gap-5">
            <div class="home">
                <a href="">HOME</a>
            </div>
            <div class="studios">
                <a href="">STUDIOS</a>
            </div>
            <div class="services">
                <a href="">SERVICES</a>
            </div>
            <div class="about">
                <a href="">ABOUT US</a>
            </div>
            <div class="contact">
                <a href="">CONTACT</a>
            </div>
            <div class="facebook">
                <a href=""><img src="/public/images/facebook_icon.png" alt=""></a>
            </div>
            <div class="d-flex gap-2 lang-data" id="lang-data">
                <div class="lang">
                    KZ
                </div>
                <div class="lang-arrow">
                    <img src="/public/images/arrow.png" alt="">
                </div>
                <div class="lang-dropdown-content">
                    <ul>
                        <li>KZ</li>
                        <li class="divider"></li>
                        <li>RU</li>
                        <li class="divider"></li>
                        <li>ENG</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="lr-profile d-flex align-items-center">
            <button onclick="showSignInModal()">Login</button>
            <span>/</span>
            <button onclick="showSignUpModal()">Register</button>
            <div class="profile ms-1 mt-2">
                <a href=""><span class="material-symbols-outlined">
                        person
                    </span></a>
            </div>
        </div>
    </header>
    <main></main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="sign_up-modal">
        <div class="modal-dialog">
            <div class="modal-content sign-up-modal">
                <div class="modal-header">
                    <h4 class="modal-title">Register</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="d-flex align-items-center justify-content-around">
                            <div class="mb-3 mt-2 su-fname">
                                <label class="mb-2">First name</label>
                                <input type="text" class="form-control" id="first_name">
                            </div>
                            <div class="mb-3 mt-2 su-lname">
                                <label class="mb-2">Last name</label>
                                <input type="text" class="form-control" id="last_name">
                            </div>
                        </div>
                        <div class="mb-3 mt-3 su-email">
                            <label class="mb-2 ">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="mb-3 mt-3 su-password">
                            <label class="mb-2">Password</label>
                            <input type="text" class="form-control" id="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex flex-column align-items-center gap-3"> 
                    <button type="button" id="sign_up_btn" class="btn btn-primary register-btn"
                        onclick="">Register</button>
                    <a href="" class="google-sign-in">
                        <div class="d-flex align-items-center google-sign-in-btn">
                            <div class="google-icon">
                                <img src="../public/images/google_icon.png" alt="" width="24">
                            </div>
                            <div class="google-text">
                                Sign in
                            </div>
                        </div>
                    </a>
                    <div class="have-account">
                        <button>Have an account?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(()=> {
            loading(1);
            loading(0);
        })

        $('#lang-data').on('click', () => {
            $('.lang-dropdown-content').slideToggle(300)
        })

        function showSignUpModal() {
            $('#sign_up-modal').modal('show');
        }

        function showSignInModal() {

        }
    </script>
</body>

</html>