<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
</head>

<body>
    <div class="background"></div>

    <header class="d-flex justify-content-around w-100">
        <div class="logo">
            <a href="/"><img src="/public/images/logo.png" alt="" width="300"></a>
        </div>
        <div class="nav-bar d-flex align-items-center gap-5">
            <div class="home">
                <a href="">HOME</a>
            </div>
            <div class="studios">
                <a href="">STUDIOS</a>
            </div>
            <div class="services">
                <a href="">SERVICES</a>
            </div>
            <div class="about">
                <a href="">ABOUT US</a>
            </div>
            <div class="contact">
                <a href="">CONTACT</a>
            </div>
            <div class="facebook">
                <a href=""><img src="/public/images/facebook_icon.png" alt=""></a>
            </div>
            <div class="d-flex gap-2 lang-data" id="lang-data">
                <div class="lang">
                    ENG
                </div>
                <div class="lang-arrow">
                    <img src="/public/images/arrow.png" alt="">
                </div>
                <div class="lang-dropdown-content">
                    <ul>
                        <li>KAZ</li>
                        <li class="divider"></li>
                        <li>RUS</li>
                        <li class="divider"></li>
                        <li>ENG</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="lr-profile d-flex align-items-center">
            <% if (isAuth) { %>
                <div class="profile d-flex align-items-center" id="profile">
                    <span>
                        <%= first_name %>
                    </span>
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <div class="profile-dropdown-content">
                        <ul>
                            <li>
                                <a href="">PROFILE</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="auth/logout">LOG OUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <% } else { %>
                    <button onclick="showSignInModal()">Login</button>
                    <span>/</span>
                    <button onclick="showSignUpModal()">Register</button>
                    <div class="profile ms-1 mt-2" id="profile">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                    </div>
                    <% } %>
        </div>
    </header>
    <main>
        <div class="player-block">
            <div class="player-header">
                <div class="arrow-toggle" id="arrow_toggle">
                    <span class="material-symbols-outlined" style="color: #fff; font-size: 50px;">
                        keyboard_arrow_up
                    </span>
                </div>
            </div>

            <div class="player-body">
                <div class="playlist-photo">
                    <img src="" alt="">
                </div>
                <div class="playlist-info">
                    <div class="playlist-title">
                        <p>Dear Leylim</p>
                    </div>
                    <div class="music-artist">
                        <p>Dos-Mukasan</p>
                    </div>
                </div>

                <div class="music-sound">
                    <div class="music-volume">

                    </div>
                    <div class="music-mute-toggle">
                        <span class="material-symbols-outlined" style="color: #fff; font-size: 30px;">
                            volume_off
                        </span>
                    </div>
                </div>

                <div class="media-player">
                    <div class="studio-name">
                        <p>K-MEDIA RECORDS</p>
                    </div>
                    <div class="fast-rewind">
                        <div class="back-arrow">
                            <span class="material-symbols-outlined" style="color: #fff; font-size: 30px;">
                                fast_rewind
                            </span>
                        </div>
                        <div class="seconds">
                            <p>15s</p>
                        </div>
                    </div>

                    <div class="music-pause">
                        <span class="material-symbols-outlined" style="color: #fff; font-size: 30px;">
                            pause
                        </span>
                    </div>

                    <div class="fast-forward">
                        <div class="forward-arrow">
                            <span class="material-symbols-outlined" style="color: #fff; font-size: 30px;">
                                fast_forward
                            </span>
                        </div>
                        <div class="seconds">
                            <p>15s</p>
                        </div>
                    </div>

                    <div class="media-timing">
                        <p>00:00 / 02:24</p>
                    </div>

                    <div class="playlist-songs-toggle">
                        <span class="material-symbols-outlined" style="color: #fff; font-size: 30px;">
                            playlist_play
                        </span>
                    </div>
                </div>
            </div>

            <div class="player-footer">
                <div class="songs-list">
                    <div class="song">
                        <div class="song-query">
                            <p>1</p>
                        </div>
                        <div class="song-title">
                            <p>My Joy</p>
                        </div>
                        <div class="song-duration">
                            02:57
                        </div>
                    </div>

                    <div class="song"></div>
                        <div class="song-query">
                            <p>2</p>
                        </div>
                        <div class="song-title">
                            <p>16 Girls</p>
                        </div>
                        <div class="song-duration">
                            03:09
                        </div>
                    </div>

                    <div class="song"></div>
                        <div class="song-query">
                            <p>3</p>
                        </div>
                        <div class="song-title">
                            <p>My Jentle</p>
                        </div>
                        <div class="song-duration">
                            03:52
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="sign_up-modal">
        <div class="modal-dialog">
            <div class="modal-content auth-modal">
                <div class="modal-header">
                    <h4 class="modal-title">Register</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="d-flex align-items-center justify-content-around">
                            <div class="mb-3 mt-2 su-fname">
                                <label class="mb-2">First name</label>
                                <input type="text" class="form-control form-inp" id="first_name">
                            </div>
                            <div class="mb-3 mt-2 su-lname">
                                <label class="mb-2">Last name</label>
                                <input type="text" class="form-control form-inp" id="last_name">
                            </div>
                        </div>
                        <div class="mb-3 mt-3 su-email">
                            <label class="mb-2 ">Email</label>
                            <input type="text" class="form-control form-inp" id="su_email">
                        </div>
                        <div class="mb-3 mt-3 su-password">
                            <label class="mb-2">Password</label>
                            <input type="password" class="form-control form-inp" id="su_password">
                        </div>
                        <div class="mb-3 mt-3 su-password">
                            <label class="mb-2">Repeat password</label>
                            <input type="password" class="form-control form-inp" id="re_password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex flex-column align-items-center gap-3">
                    <button type="button" id="sign_up_btn" class="btn btn-primary register-btn"
                        onclick="signUp()">Register</button>
                    <a href="/auth/google_sign_up" class="google-sign-in">
                        <div class="d-flex align-items-center google-sign-in-btn">
                            <div class="google-icon">
                                <img src="../public/images/google_icon.png" alt="" width="24">
                            </div>
                            <div class="google-text">
                                Sign in
                            </div>
                        </div>
                    </a>
                    <div class="have-account">
                        <button type="button" onclick="showSignInModal()">Have an account?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sign_in-modal">
        <div class="modal-dialog">
            <div class="modal-content auth-modal">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3 su-email">
                            <label class="mb-2 ">Email</label>
                            <input type="text" class="form-control form-inp" id="si_email">
                        </div>
                        <div class="mb-3 mt-3 su-password">
                            <label class="mb-2">Password</label>
                            <input type="password" class="form-control form-inp" id="si_password">
                        </div>
                        <div class="register-forgot d-flex align-items-center">
                            <div class="register-btn">
                                <button type="button" onclick="showSignUpModal()">Register</button>
                            </div>
                            <div class="forgot-btn">
                                <button type="button" onclick="showResetPasswordModal()">Forgot your password?</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex flex-column align-items-center gap-3">
                    <button type="button" id="sign_in_btn" class="btn btn-primary register-btn" onclick="signIn()">Log
                        in</button>
                    <a href="/auth/google_sign_in" class="google-sign-in">
                        <div class="d-flex align-items-center google-sign-in-btn">
                            <div class="google-icon">
                                <img src="../public/images/google_icon.png" alt="" width="24">
                            </div>
                            <div class="google-text">
                                Sign in
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reset_password-modal">
        <div class="modal-dialog">
            <div class="modal-content auth-modal">
                <div class="modal-header">
                    <h4 class="modal-title">Reset password</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3 su-email">
                            <label class="mb-2 ">Email</label>
                            <input type="text" class="form-control form-inp" id="res_email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex flex-column align-items-center gap-3">
                    <button type="button" id="reset_password_btn" class="btn btn-primary register-btn"
                        onclick="resetPassword()">Reset
                        password</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            loading(1);
            handleGoogleSignInFailure();
            handleGoogleSignUpFailure();
            loading(0);
        })

        $('#lang-data').on('click', () => {
            $('.lang-dropdown-content').slideToggle(300)
        })

        $('#profile').on('click', () => {
            $('.profile-dropdown-content').slideToggle(300)
        })

        function showSignUpModal() {
            $('#sign_in-modal').modal('hide');
            $('#sign_up-modal').modal('show');
        }

        function showSignInModal() {
            $('#sign_up-modal').modal('hide');
            $('#sign_in-modal').modal('show');
        }

        function showResetPasswordModal() {
            $('#sign_in-modal').modal('hide');
            $('#reset_password-modal').modal('show');
        }

        function signIn() {
            loading(2, el = '#sign_in_btn');
            let email = $('#si_email').val().trim().toLowerCase();
            let password = $('#si_password').val().trim();

            if (!email || !password) {
                loading(20, el = '#sign_in_btn');
                $.ambiance({
                    message: "Fill in all required fields!",
                    type: "error",
                    fade: true
                });
                return;
            }

            $.ajax({
                method: 'post',
                url: '/auth/sign-in',
                data: {
                    email: email,
                    password: password
                },
                success: function (r) {
                    if (r.r == 1) {
                        $('#sign_in-modal').modal('hide');
                        loading(20, el = '#sign_in_btn');
                        $.ambiance({
                            message: "You are successfully logged in!",
                            type: "success",
                            fade: true
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    }
                    else if (r.r == 2) {
                        $.ambiance({
                            message: "Too many requests, try later!",
                            type: "error",
                            fade: true
                        });
                    }
                    else {
                        $.ambiance({
                            message: "Something went wrong!",
                            type: "error",
                            fade: true
                        });
                    }
                    loading(20, el = '#sign_in_btn');
                }, error: function (err) {
                    console.log(err);
                }
            })
        }

        function signUp() {
            loading(2, el = '#sign_up_btn');
            let fname = $('#first_name').val().trim();
            let lname = $('#last_name').val().trim();
            let email = $('#su_email').val().trim().toLowerCase();
            let password = $('#su_password').val().trim();
            let repassword = $('#re_password').val().trim();

            if (!email || !password || !fname || !lname) {
                loading(20, el = '#sign_up_btn');
                $.ambiance({
                    message: "Fill in all required fields!",
                    type: "error",
                    fade: true
                });
                return;
            }
            else if (password != repassword) {
                loading(20, el = '#sign_up_btn');
                $.ambiance({
                    message: "Passwords do not match!",
                    type: "error",
                    fade: true
                });
                return;
            }

            $.ajax({
                method: 'post',
                url: '/auth/sign-up',
                data: {
                    first_name: fname,
                    last_name: lname,
                    email: email,
                    password: password
                },
                success: function (r) {
                    if (r.r == 1) {
                        $('#sign_up-modal').modal('hide');
                        loading(20, el = '#sign_up_btn');
                        $.ambiance({
                            message: "You are successfully signed up!",
                            type: "success",
                            fade: true
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    }
                    else if (r.r == 2) {
                        $.ambiance({
                            message: "Too many requests, try later!",
                            type: "error",
                            fade: true
                        });
                    }
                    else if (r.r == 3) {
                        $.ambiance({
                            message: "Email already exists!",
                            type: "error",
                            fade: true
                        });
                    }
                    else {
                        $.ambiance({
                            message: "Something went wrong!",
                            type: "error",
                            fade: true
                        });
                    }
                    loading(20, el = '#sign_up_btn');
                }, error: function (err) {
                    loading(20, el = '#sign_up_btn');
                    console.log(err);
                }
            });
        }

        function resetPassword() {
            loading(2, el = '#reset_password_btn');
            let email = $('#res_email').val().trim().toLowerCase();

            if (!email) {
                loading(20, el = '#reset_password_btn');
                $.ambiance({
                    message: "Fill in email field, please!",
                    type: "error",
                    fade: true
                });
                return;
            }

            $.ajax({
                method: 'post',
                url: '/auth/reset-password',
                data: {
                    email: email
                },
                success: function (r) {
                    if (r.r == 1) {
                        $('#reset_password-modal').modal('hide');
                        loading(20, el = '#reset_password_btn');
                        $.ambiance({
                            message: "Reset password email successfully sent!",
                            type: "success",
                            fade: true
                        });
                        setTimeout(() => {
                            showSignInModal();
                        }, 1000);
                    } else {
                        $.ambiance({
                            message: "Something went wrong!",
                            type: "error",
                            fade: true
                        });
                    }
                    loading(20, el = '#reset_password_btn');
                }, error: function (err) {
                    loading(20, el = '#reset_password_btn')
                    console.log(err);
                }
            })
        }

        function handleGoogleSignInFailure() {
            let currentUrl = window.location.href;

            if (currentUrl.includes('status=0')) {
                $.ambiance({
                    message: "Something went wrong!",
                    type: "error",
                    fade: true
                });

                currentUrl = currentUrl.replace('?status=0', '');
                window.history.replaceState(null, '', currentUrl);
            }
        }


        function handleGoogleSignUpFailure() {
            let currentUrl = window.location.href;

            if (currentUrl.includes('status=1')) {
                $.ambiance({
                    message: "Something went wrong!",
                    type: "error",
                    fade: true
                });
                currentUrl = currentUrl.replace('?status=1', '');
                window.history.replaceState(null, '', currentUrl);
            }

            else if (currentUrl.includes('status=2')) {
                $.ambiance({
                    message: "Email address already in use!",
                    type: "error",
                    fade: true
                });
                currentUrl = currentUrl.replace('?status=2', '');
                window.history.replaceState(null, '', currentUrl);
            }
        }
    </script>
</body>

</html>