@font-face {
    font-family: Sen;
    src: url(../fonts/Sen-VariableFont_wght.ttf);
}

body {
    padding: 0;
    margin: 0;
    background-image: url('/public/images/main_bg_blur.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    border: .20px solid currentColor;
    border-right-color: currentcolor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

header a {
    color: #FAFAFB;
    text-decoration: none;
    font-family: Sen;
}

header {
    color: #FAFAFB;
}

.nav-bar a {
    transition: 0.3s;
}

.nav-bar a:hover {
    color: #b3b3b3;
}

#lang-data {
    cursor: pointer;
    position: relative;
    font-family: Sen;
}

.lang-dropdown-content {
    position: absolute;
    top: 35px;
    right: 0px;
    display: none;
}

.lang-dropdown-content .divider {
    background-color: #b3b3b3;
    height: 1px;
    margin: 9px 0;
}

.lang-dropdown-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lang-dropdown-content li:not(.divider) {
    padding: 6px 8px;
    text-align: center;
    border-radius: 5px;
}

.lang-dropdown-content li {
    transition: 0.3s;
}

.lang-dropdown-content li:not(.divider):hover {
    background-color: #b3b3b363;;
    color: #FAFAFB;
}

.lr-profile {
    font-family: Sen;
}

.profile {
    position: relative;
    cursor: pointer;
}

.profile-dropdown-content {
    position: absolute;
    top: 35px;
    left: 0;
    display: none;
}

.profile-dropdown-content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.profile-dropdown-content li:not(.divider) {
    padding: 6px;
    border-radius: 5px;
    text-align: center;
}

.profile-dropdown-content .divider {
    background-color: #b3b3b3;
    height: 1px;
    margin: 9px 0;
}

.profile-dropdown-content a {
    color: #FAFAFB;
}

.profile-dropdown-content li {
    transition: 0.3s;
}

.profile-dropdown-content li:not(.divider):hover {
    background-color: #b3b3b363;
}

.profile-dropdown-content li:nth-child(2) {
    padding-right: 82px;
}

.lr-profile button {
    background-color: transparent;
    color: #FAFAFB;
    border: none;
    outline: none;
    transition: 0.3s;
}

.lr-profile button:hover {
    color: #b3b3b3;
}

.lr-profile span {
    transition: 0.3s;
}

.lr-profile span:hover {
    color: #b3b3b3;
}

.auth-modal {
    background-color: #090808;
    color: #FAFAFB;
}

.auth-modal .modal-header,
.auth-modal .modal-body,
.auth-modal .modal-footer {
    border: none;
}

.auth-modal input {
    background-color: #272727;
    border: none;
    color: #FAFAFB;
    transition: 0.3s;
}

.auth-modal .google-sign-in {
    background-color: #272727;
    color: #FAFAFB;
    border-radius: 12px;
    width: 83%;
    padding: 8px 0;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.auth-modal .google-sign-in::before {
    content: '';
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 42px;
    background-color: #FAFAFB;
    border-radius: 10px;
    transition: 0.3s;
}

.auth-modal .google-sign-in:hover {
    background-color: #333333;

}

.auth-modal .google-sign-in:hover::before {
    background-color: #e1e1e1;

}

.auth-modal .google-icon {
    z-index: 1;
    flex: 0.5;
    padding: 0 0 0 8px;
}

.auth-modal .register-btn {
    border-radius: 12px;
    width: 83%;
    padding: 8px 0;
}

.auth-modal .have-account button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    transition: 0.3s;
}

.auth-modal .su-email,
.auth-modal .su-password {
    width: 85%;
    margin: auto;
}

.auth-modal .su-fname,
.auth-modal .su-lname {
    width: 35%;
    margin: auto;
}

.auth-modal input:focus {
    color: #FAFAFB;
    box-shadow: 0 0 15px 1px #b3b3b3;
    background-color: #272727 !important;
}

.auth-modal .have-account button:hover {
    color: #b3b3b3;
}

.auth-modal .register-forgot button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    transition: 0.3s;
}

.auth-modal .register-forgot button:hover {
    color: #b3b3b3;
}

.auth-modal .register-forgot .forgot-btn {
    width: 65%;
    padding-right: 22px;
}

.auth-modal .register-forgot .register-btn {
    padding-left: 28px;
}

/* MEDIA PLAYER START */



/* MEDIA PLAYER END */